body{
    background-color: #181F42;
    background-position: 0 120px;
    background-image: url(../img/shenlong.png);
    background-size: cover;
    margin:0 auto;
}
.sloganCabecalho{
    margin-top: 0%;
    position: fixed;
    z-index: +1;
    width: 100%;
}
.slogan{
    background-color: white;
    color:#AA313B;
    text-align: center;
    height: 20px;
    width: 100%;
}

.cabecalho{
    background-color: #6F7889;
    height: 100px;
    width: 100%;
}

#imgDragons{
    margin-top: 15px;
    margin-left: 10%;
}

.boxCentralMenuCabecalho{
    float: left;
    height: 40px;
    width: 165px;
    margin-top: -60px;
    margin-left: 45%;
    margin-right: 100px;

}

.btnMenuCabecalho{
    margin-left: 5px;
    background-color: #181F42;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btnIcones{
    cursor: pointer;
    padding: 5px;
}

.iconesCabecalho{
    float: left;
    height: 40px;
    margin-top: -65px;
    margin-left: 80%;
}
.corpo{
    position: absolute;
    width: 100%;
    height: 900px;
    margin-top: 120px;
    padding-bottom: 75px;
}

.cardMensagem{
    font-family: Quattrocento;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 35px;
    text-align: center;
    height: 50px;
    width: 300px;
    text-size-adjust: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #AA313B;
    color: white;
}

#produtos{
    width: 100%;
    /*background-color: white;*/
}

.div-card{
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 200px;
    height: 250px;
    background-color: #6F7889;
    border-radius: 10px;
    float: left;
}

.div-card-img img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-titulo{
    color: black;
    background-color: #BAC0CF;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding-top: 4px;
}
.div-informacoes{
    width: 100%;
    font-size: 15px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
}

.div-card-comprar{
    text-align: center;
    background-color: #AA313B;
    color: white;
    height: 30px;
    cursor: pointer;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.div-card-comprar:hover{
    background-color: #8C5F61;
}

.div-card-comprado{
    background-color: #6E2D40;
}

.div-card-comprado:hover{
    background-color: #6E2D40;
}
#botaoIcone{
    cursor: pointer;
    background-color: #6F7889;
    border: #6F7889;
    font-size: 0;
}
footer {
    position: fixed;
    z-index: +1;
    bottom: 0;
    background-color: #6F7889;
    color: #FFF;
    width: 100%;
    height: auto;    
    text-align: center;
}  

